.custom-queue-select-dialpad {
  background: red;
  width: 100%;
}

#queue-select-dialpad {
  width: 100%;
  height: 35px;
  overflow: hidden;
  min-height: 1.1875em;

  cursor: pointer;
  font-size: 12px;
  padding-right: 48px;
  padding-left: 8px;
  border-radius: 0;

  display: block;
}
